<!DOCTYPE html>
<html lang="en-gb">
    <%- include('../components/head', {panel: true}) %>

    <body>
        <%- include('../components/header', {panel: true}) %>

        <div id="panel" class="panel page">
            <div class="hello">
                <h1>Hello, <span class="username"><%= locals.session.user.username %></span> !</h1>
                <p>In order to update a guild, you need to be owner and used a command atlesst one time for it to show. If there are no guilds and you think there's an error, log out and back in again.</p>
            </div>
            <div class="guilds">
                <% for (var i = 0; i < locals.session.guilds.length; i++) { %>
                <form class="guild <% if (locals.session.guilds.length === 1) { %>toggled<% } %>" id="<%= locals.session.guilds[i].id %>">
                    <div class="top">
                        <img src="https://cdn.discordapp.com/icons/<%= locals.session.guilds[i].id %>/<%= locals.session.guilds[i].icon %>.jpg" alt="Icon" class="icon">
                        <h2 class="name"><%= locals.session.guilds[i].name %></h2>
                        <a class="arrow" href="javascript:void(0);"><i class="fas fa-angle-down"></i></a>
                    </div>
                    <div class="hidden">
                        <div class="settings">
                            <div class="input">
                                <label for="prefix">Prefix: </label>
                                <input type="text" name="prefix" value="!?" placeholder="Example: !?" id="prefix">
                                <!--<input type="checkbox" name="prefixToggle" checked id="prefix-toggle">-->
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="btns">
                                <input type="submit" value="Cancel" name="cancel" class="btn btn-1" />
                                <input type="submit" value="Save" name="save" class="btn btn-2" />
                            </div>
                        </div>
                    </div>
                </form>
                <% } %>
            </div>
        </div>
    
        <%- include('../components/footer', {panel: true}) %>
        
        <script src="/public/js/main.js"></script>
    </body>
</html>